.a{

	margin:auto;
	height: 400px;
	width: 80%;	
	box-shadow: 5px 10px #888888;
	
}
*{-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s;
}
body{
	background-color:pink;
	 background-repeat: repeat-y;
	 background-size:100% 100%;
	 display:flex;
	 justify-content:center;
}
.container{
	height:800px;
	width:500px;
	background-color:white;
	display:flex;
	flex-direction:column;
	align-items:center;
	gap:9px;
	line-height:1px;
}
.e-item{
	
	width:310px;
	height:60px;
	overflow:auto;

}

.e-item input{
	width:300px;
	border:none;
	border-bottom:2px solid black;
	outline:none;
	font-size:15px;
	z-index:22;
}
.e-item p{
	transform:translateY(25px);
	font-size:19px;
	transition:0.5s;
	float:left;
	z-index:1;
}
.click{
	transform:translateY(225px);
}
.des{
		line-height:20px;
	width:400px;
	height:60px;

}
.des{
	gap:5px;
	display:flex;
}
.des fieldset{
	transition:0.5s;
	width:300px;
	border-radius:5px;
}
.clickdes{
	border:none;
	border-left:1px solid rgb(0,0,0,0.1);
	border-right:1px solid rgb(0,0,0,0.1);
}
.unclickdes{
	border:1px solid blue;
}
.des fieldset legend{
	transition:0.5s;
	transform:translateY(25px);
	font-size:20px;
	color:rgb(0,0,0,0.4);
}
.des fieldset input{
	width:300px;
	height:30px;
	font-size:20px;
	border:none;
	outline:none;
}
.des button{
	height:30px;
	border-radius:5px;
	width:60px;
	background-color:blue;
	color:white;
	margin-top:30px;
	border:none;
}
.list{
	line-height:80px;
	width:400px;
	height:90px;
}
.list fieldset {
	border:none;
	display:flex;
	flex-direction:column;
	gap:10px;
}
.list fieldset legend{
	color:green;
	font-size:30px;
}
.item-list{
	line-height:2px;
	height:auto;
	border-bottom:2px dotted red;
	display:flex;
	flex-direction:column;
}
.list button{
	border:none;
	border-radius:4px;
}
.del{
	display:none;
	background-color:red;
	color:white;
}
.option{
	gap:5px;
	display:flex;

}
.title{
	display:flex;
}
.items-1{
	transition:0.5s;
	display:none;
}
.value{
	line-height:2px;
	width:200px;
	
}
.option-main{
	margin-top:20%;
	height:100px;
	width:400px;
	display:flex;

	gap:200px;
}
.option-main button{
	height:40px;
	width:100px;
	background-color:pink;
	color:white;
	border-radius:4px;
	border:none;
}